In [1]:
#Importación de las bibliotecas que se necesitan para que el programa se ejecute.
import pandas as pd
import time
import random
import os
from datetime import datetime
import uuid

In [2]:
#Creando un dataframe con la url y el nombre de la liga.

url = ['https://www.resultados-futbol.com/kings-league']

liga = ['Kings League']

df_liga = {'LIGA':liga,
           'URL':url
          }

df_liga = pd.DataFrame(df_liga)

df_liga

           LIGA                                             URL
0  Kings League  https://www.resultados-futbol.com/kings-league

In [3]:
#Guardando el marco de datos en un archivo csv.
df_liga.to_csv('liga.csv', index=False)

In [4]:
df_liga['URL'][0]

'https://www.resultados-futbol.com/kings-league'

In [5]:
#Leyendo el html de la url en la primera fila del dataframe
df = pd.read_html(df_liga['URL'][0])

In [6]:
#Logitud del Dataframe
len(df)

17

In [7]:
#Seleccionando la columna con la tabla de posiciones
df[14]

,Equipos,Equipos.1,Puntos,J.,G.,E.,P.,F.,C.,Forma,Unnamed: 10
0,1,Saiyans FC *,9,3,2,1,0,10,4,VICTORIA Saiyans FC 4 Porcinos FC 2 EMPAT...,NaN
1,2,1K,9,3,3,0,0,12,7,VICTORIA Rayo de Barcelona 2 1K 4 VICTORI...,NaN
2,3,Kunisports *,6,3,2,1,0,5,3,VICTORIA Kunisports 2 Jijantes FC 1 VICTO...,NaN
3,4,Los Troncos,6,3,2,0,1,11,10,VICTORIA Los Troncos 5 Xbuyer Team 3 DERR...,NaN
4,5,Ultimate,6,3,2,0,1,9,8,VICTORIA Aniquiladores 1 Ultimate Móstoles ...,NaN
5,6,Porcinos FC *,6,3,1,1,1,9,9,DERROTA Saiyans FC 4 Porcinos FC 2 VICTOR...,NaN
6,7,El Barrio,3,3,1,0,2,8,7,VICTORIA El Barrio 5 Pio FC 0 DERROTA Ul...,NaN
7,8,Rayo Barcelona *,3,3,1,1,1,9,9,DERROTA Rayo de Barcelona 2 1K 4 VICTORIA...,NaN
8,9,Aniquiladores,3,3,1,0,2,7,9,DERROTA Aniquiladores 1 Ultimate Móstoles ...,NaN
9,10,Xbuyer Team *,3,3,0,1,2,5,8,DERROTA Los Troncos 5 Xbuyer Team 3 DERRO...,NaN
10,11,Jijantes FC,0,3,0,0,3,7,12,DERROTA Kunisports 2 Jijantes FC 1 DERROT...,NaN
11,12,Pio FC *,0,3,0,1,2,3,9,DERROTA El Barrio 5 Pio FC 0 EMPATE Pio ...,NaN

In [8]:
#Seleccionando la fila 14 del Dataframe
df2 = df[14]

In [9]:
#Imprimiendo df2.
print(df2)

    Equipos         Equipos.1  Puntos  J.  G.  E.  P.  F.  C.  \
0         1      Saiyans FC *       9   3   2   1   0  10   4
1         2                1K       9   3   3   0   0  12   7
2         3      Kunisports *       6   3   2   1   0   5   3
3         4       Los Troncos       6   3   2   0   1  11  10
4         5          Ultimate       6   3   2   0   1   9   8
5         6     Porcinos FC *       6   3   1   1   1   9   9
6         7         El Barrio       3   3   1   0   2   8   7
7         8  Rayo Barcelona *       3   3   1   1   1   9   9
8         9     Aniquiladores       3   3   1   0   2   7   9
9        10     Xbuyer Team *       3   3   0   1   2   5   8
10       11       Jijantes FC       0   3   0   0   3   7  12
11       12          Pio FC *       0   3   0   1   2   3   9

                                                Forma  Unnamed: 10
0   VICTORIA  Saiyans FC  4  Porcinos FC  2  EMPAT...          NaN
1   VICTORIA  Rayo de Barcelona  2  1K  4  VICTORI...          NaN
2   VICTORIA  Kunisports  2  Jijantes FC  1  VICTO...          NaN
3   VICTORIA  Los Troncos  5  Xbuyer Team  3  DERR...          NaN
4   VICTORIA  Aniquiladores  1  Ultimate Móstoles ...          NaN
5   DERROTA  Saiyans FC  4  Porcinos FC  2  VICTOR...          NaN
6   VICTORIA  El Barrio  5  Pio FC  0  DERROTA  Ul...          NaN
7   DERROTA  Rayo de Barcelona  2  1K  4  VICTORIA...          NaN
8   DERROTA  Aniquiladores  1  Ultimate Móstoles  ...          NaN
9   DERROTA  Los Troncos  5  Xbuyer Team  3  DERRO...          NaN
10  DERROTA  Kunisports  2  Jijantes FC  1  DERROT...          NaN
11  DERROTA  El Barrio  5  Pio FC  0  EMPATE  Pio ...          NaN

In [10]:
#Crear un nuevo marco de datos a partir del marco de datos df2.
df3 = pd.DataFrame(df2)

In [11]:
#Mostrando las columnas del marco de datos.
df3.columns

Index(['Equipos', 'Equipos.1', 'Puntos', 'J.', 'G.', 'E.', 'P.', 'F.', 'C.',
       'Forma', 'Unnamed: 10'],
      dtype='object')

In [12]:
#Seleccionando las columnas del índice 1 al índice 8.
df4 = df3[df3.columns[1:9]]

In [13]:
#Renombrar la columna 'Equipos.1' a 'Equipos'
df4 = df4.rename(columns={'Equipos.1':'Equipos'})

In [14]:
#Reemplazando el carácter * con nada.
df4["Equipos"] = df4["Equipos"].apply(lambda x: x.replace("*", "") if x.find("*") != -1 else x)

In [15]:
#Verificar el dataframe final
df4

            Equipos  Puntos  J.  G.  E.  P.  F.  C.
0       Saiyans FC        9   3   2   1   0  10   4
1                1K       9   3   3   0   0  12   7
2       Kunisports        6   3   2   1   0   5   3
3       Los Troncos       6   3   2   0   1  11  10
4          Ultimate       6   3   2   0   1   9   8
5      Porcinos FC        6   3   1   1   1   9   9
6         El Barrio       3   3   1   0   2   8   7
7   Rayo Barcelona        3   3   1   1   1   9   9
8     Aniquiladores       3   3   1   0   2   7   9
9      Xbuyer Team        3   3   0   1   2   5   8
10      Jijantes FC       0   3   0   0   3   7  12
11          Pio FC        0   3   0   1   2   3   9

In [39]:
#Creando una nueva columna llamada 'ID' y asignando una cadena aleatoria de 6 caracteres a cada fila.
df4['ID'] = [str(uuid.uuid4())[:6] for _ in range(len(df4))]

In [40]:
#Seleccionando las columnas ID y Equipos del dataframe df4.
df5 = df4[['ID','Equipos']]

In [41]:
#Verificar el dataframe 5
df5

        ID          Equipos
0   cfce88      Saiyans FC
1   61c1f5               1K
2   cc8351      Kunisports
3   bb39ae      Los Troncos
4   03e1a1         Ultimate
5   0ebd6f     Porcinos FC
6   7b2ad9        El Barrio
7   5d7c6f  Rayo Barcelona
8   dbab12    Aniquiladores
9   87e4e5     Xbuyer Team
10  bb7ae4      Jijantes FC
11  2c16ed          Pio FC

In [42]:
#Generar un csv desde el dataframe 5
df5.to_csv('equipos.csv', index=False)